/* Basic reset for the body and html */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #a8c0ff, #3f2b96);
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Enhanced Coin Transition */
.coin-transition {
  position: absolute;
  top: 10%; /* Starting position */
  left: 0; /* Start from the left edge */
  width: 80px; /* Slightly larger size for better visibility */
  z-index: 1;
  animation: enhancedMoveAndRotate 10s infinite linear;
}

@keyframes enhancedMoveAndRotate {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: translateX(200px) rotate(90deg);
    opacity: 1;
  }
  50% {
    transform: translateX(500px) rotate(180deg);
  }
  80% {
    transform: translateX(800px) rotate(270deg);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) rotate(360deg);
    opacity: 0;
  }
}


/* Navbar */
.navbar {
  background-color: rgb(235, 232, 218);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#markets{
  margin-top:80px
}

.list li {
  display: inline;
  padding: 10px;
 
}


.final {
  margin-left: auto;
  padding: 10px;
}

.list li a {
  text-decoration: none;
  color: black;
}

.list li a:hover {
  color: red;
}
.list-item{
  margin-left:900px
}

.container {
  margin-top: 80px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 6px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 18rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:-10px;
  
}

.card h5 {
  color: #333;
}

.card .price {
  color: green;
  font-weight: bold;
}

.card .change {
  color: red;
}

.card .change-percent {
  color: red;
}

.card .country-code,
.card .exchange,
.card .exchange-open,
.card .exchange-close {
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;

 
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  margin-top:-18px
}

.pagination button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hidden {
  display: none;
}
